<html>
    <head>
        <title>.NET Repo Builder</title>
    </head>
<body>

<h1><center>GitHub Repo Name</center></h1>

<center>
  <form action="/repo/" method="POST">
      GitHub Repo Name <username/repo>:
      <input type="text" name="repo_name">
      <br/>
      <input type="submit">
  </form>
</center>

</body>
</html>
