<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title>.NET Repo Builder</title>
    </head>
<body>

  <div class="alert alert-danger fade in <%=flash[:error].nil? ? 'hide' : ''%>">
    <strong>D'oh!  </strong><%=flash[:error] %>
  </div>

  <div class="alert alert-success fade in <%=flash[:success].nil? ? 'hide' : ''%>">
    <strong>Success  </strong><%=flash[:success] %>
  </div>

  <h1><center>.NET Repo Builder</center></h1>

  <div class="col-md-6 col-md-offset-3 well">
      <form action="/repo/" method="POST">
        <div class="form-group">
          <label for="repo_url">Git Repository URL</label>
          <input type="text" class="form-control" name="repo_url" placeholder="https://github.com/matthewbussa/netrepobuilder.git">
          <p id="repoNameHelpBlock" class="form-text text-muted">
            Enter the publicly accessible git clone URL
          </p>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control form-control-sm" name="email" placeholder="you@example.com">
          <p id="emailHelpBlock" class="form-text text-muted">
            Email will only be used to send the build result
          </p>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    <p id="waitHelpBlock" class="form-text text-muted">
      *Once you click submit, it may take up to 30 seconds to finish.
    </p>
  </div>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>
