<html>
    <head>
        <title>.NET Repo Builder</title>
    </head>
<body>

<h1><center>GitHub Repo Name</center></h1>

<center>
  <form action="/repo/" method="POST">
      GitHub Repo Name:
      https://github.com/<input type="text" name="repo_name">
      <br/>

      Email to send report to:
      <input type="email" name="email">
      <br/>
      <input type="submit">
  </form>
</center>

</body>
</html>
