<html>
    <head>
        <title>.NET Repo Builder</title>
    </head>
<body>

<div id='flash'>
  <div class='flash error'><center><%=flash[:error] %></center></div>
</div>

<h1><center>.NET Repo Builder</center></h1>

<center>
  <form action="/repo/" method="POST">
      GitHub Repo Name:
      https://github.com/<input type="text" name="repo_name">
      <br/>

      Email to send build log report to:
      <input type="email" name="email">
      <br/>
      <input type="submit">
  </form>

  Once you click submit, it may take up to 30 seconds to finish.
</center>

</body>
</html>
